<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega disponível para ser retirada</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Destinatário:</strong> {{ recipient_name }} <br/>
  <strong>Rua:</strong> {{ recipient_street }} <br/>
  <strong>Número:</strong> {{ recipient_number }} <br/>
  <strong>Complemento:</strong> {{ recipient_complement }} <br/>
  <strong>Estado:</strong> {{ recipient_state }} <br/>
  <strong>Cidade:</strong> {{ recipient_city }} <br/>
  <strong>CEP:</strong> {{ recipient_zip_code }} <br/>
</p>
